@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


@import "tailwindcss";

@layer base {
  html, body {
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
    background-color: #0B0B0E;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0B0B0E;
  }
  ::-webkit-scrollbar-thumb {
    background: #2A1B54;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6B4BF6;
  }
}