# misc
.DS_Store
*.pem

# Python
.venv/
__pycache__/
*.pyc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# SSH key pair
*.pem

# claude plugin - UnderstandAnything
# .understand-anything