# K3s credentials (절대 커밋 금지)
kubeconfig
k3s_node_token
*.pem
*.key

# 인프라 정보
ssh_config
inventory.ini

# Ansible
*.retry
.vault_pass
.ansible/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# 임시 파일
tmp/
*.tmp
*.bak

# supabase secret
generate-apply-secrets
supabase/secrets-*
.env